<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <img class="img-fluid" src="{{ asset('assets/images/titleShip.png') }}">
                <a class="nav-link" href="{{ path('home') }}">Home
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>

            {% if is_granted("ROLE_ADMIN") %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Navires </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pays et Ports </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Compte </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter </a>
                </li>

            {% elseif is_granted("ROLE_OPER") or is_granted("ROLE_USER")%}

                <li class="nav-item">
                    <a class="nav-link" href="#">Navires </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pays et Ports </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter </a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Pays </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se Connecter </a>
                </li>

            {% endif %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h2> {{ app.user.nom }} {{app.user.prenom }}</h2>
        {% else %}
            <h2> anonymous </h2>
        {% endif %}
        {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
    </div>
</nav>

